<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static',filename='multimarkdown_layout.css') }}">
<style>

body.multimarkdown-preview,
body.multimarkdown-wiki-preview {
    font-size: 14px;
}
</style>
<link rel="stylesheet" href="{{ url_for('static',filename='multimarkdown_darcula.css') }}">
</head>
<body class="multimarkdown-preview">
<div class="content">
<div class="page-header"><a href="https://bitbucket.org/bougi23/autopujcovna-api-db/blob/master/readme.md" name="wikipage" id="wikipage" title="Click here to open the file on GitHub">readme.md</a></div>
<div class="hr"></div>
<h1 id="databázové-systémy-i---projekt-autopůjčovna" md-pos="4-47"><a href="#databázové-systémy-i---projekt-autopůjčovna" name="databázové-systémy-i---projekt-autopůjčovna">Databázové systémy I - projekt autopůjčovna</a></h1>
<p md-pos="49-165">Projekt se skládá z relační databáze navržené v SQLite a REST api vrsty, která umožňuje přístup k datům v databázi.</p>
<h1 id="rest-api-endpointy" md-pos="169-187"><a href="#rest-api-endpointy" name="rest-api-endpointy">REST API endpointy</a></h1>
<h2 id="post-apicustomeradd_customer" md-pos="192-225"><a href="#post-apicustomeradd_customer" name="post-apicustomeradd_customer">[POST] /api/customer/add_customer</a></h2>
<p md-pos="227-304">Tento endpoint byl navržen pro přidávání zákazníků autopůjčovny do databáze.</p>
<table md-pos="305-582">
  <thead>
    <tr md-pos="305-331" class="thead-first-child"><th md-pos="305-310">klíč </th><th md-pos="311-324"> datový typ  </th><th md-pos="325-331"> popis</th></tr>
  </thead>
  <tbody>
    <tr md-pos="348-400" class="tbody-first-child"><td md-pos="348-363">customer_name  </td><td md-pos="364-373"> string  </td><td md-pos="374-400"> Jméno zákazníka např. Jan</td></tr>
    <tr md-pos="401-461" class="tbody-even-child"><td md-pos="401-419">customer_surname  </td><td md-pos="420-429"> string  </td><td md-pos="430-461"> Příjmení zákazníka např. Novák</td></tr>
    <tr md-pos="462-581" class="tbody-odd-child"><td md-pos="462-478">customer_email  </td><td md-pos="479-488"> string  </td><td md-pos="489-581"> Emailová adresa na zákazníka např. <a md-pos="525-537" href="mailto:jan@novak.cz">jan@novak.cz</a> (Emailová adresa je unikátní identifikátor)</td></tr>
  </tbody>
</table>
<p md-pos="583-607">Validní json požadavek:</p>
<pre md-pos="612-706"><code md-pos="612-706">{
	&quot;customer_name&quot;:&quot;Jan&quot;,
	&quot;customer_surname&quot;:&quot;Novák&quot;,
	&quot;customer_email&quot;:&quot;jan@novak.cz&quot;
}
</code></pre>
<p md-pos="707-729">Validní json odpověď:</p>
<p md-pos="730-764"><strong md-pos="732-749">HTTP status code:</strong> 201 CREATED</p>
<pre md-pos="769-868"><code md-pos="769-868">{
    &quot;message&quot;: &quot;Customer has been inserted to the database.&quot;,
    &quot;customer_id&quot;:  &quot;3&quot;
}
</code></pre>
<p md-pos="869-874">nebo</p>
<p md-pos="875-909"><strong md-pos="877-894">HTTP status code:</strong> 201 CREATED</p>
<pre md-pos="914-1009"><code md-pos="914-1009">{
    &quot;message&quot;: &quot;Customer already exist in the database.&quot;,
    &quot;customer_id&quot;:  &quot;3&quot;
}
</code></pre>
<p md-pos="1011-1035">Nevalidní json odpověď:</p>
<p md-pos="1036-1071"><strong md-pos="1038-1055">HTTP status code:</strong> 409 CONFLICT</p>
<pre md-pos="1076-1131"><code md-pos="1076-1131">{
    &quot;message&quot;:  &quot;Unknown technical ERROR.&quot;
}
</code></pre>
<h2 id="get-apicustomerselect_customer" md-pos="1137-1172"><a href="#get-apicustomerselect_customer" name="get-apicustomerselect_customer">[GET] /api/customer/select_customer</a></h2>
<p md-pos="1174-1232">Tento endpoint zobrazí seznam všech uživatelů v databazi.</p>
<p md-pos="1233-1255">Validní json odpověď:</p>
<p md-pos="1256-1285"><strong md-pos="1258-1275">HTTP status code:</strong> 200 OK</p>
<pre md-pos="1290-1818"><code md-pos="1290-1818">[
    {
        &quot;customer_id&quot;: 1,
        &quot;customer_name&quot;: &quot;Jmeno&quot;,
        &quot;customer_surname&quot;: &quot;Prijmeni&quot;,
        &quot;customer_email&quot;: &quot;a@b.cz&quot;
    },
    {
        &quot;customer_id&quot;: 2,
        &quot;customer_name&quot;: &quot;Jmeno&quot;,
        &quot;customer_surname&quot;: &quot;Prijmeni&quot;,
        &quot;customer_email&quot;: &quot;a@bcd.cz&quot;
    },
    {
        &quot;customer_id&quot;: 3,
        &quot;customer_name&quot;: &quot;Jmeno&quot;,
        &quot;customer_surname&quot;: &quot;Prijmeni&quot;,
        &quot;customer_email&quot;: &quot;a@bcde.cz&quot;
    }
]
</code></pre>
<h2 id="get-apicustomerselect_customeremail" md-pos="1823-1866"><a href="#get-apicustomerselect_customeremail" name="get-apicustomerselect_customeremail">[GET] /api/customer/select_customer/[email]</a></h2>
<p md-pos="1868-1950">Tento endpoint zobrazí konkrétní detaily uživatele se zadaným emailem z databáze.</p>
<p md-pos="1951-1973">Validní json odpověď:</p>
<p md-pos="1974-2003"><strong md-pos="1976-1993">HTTP status code:</strong> 200 OK</p>
<pre md-pos="2008-2187"><code md-pos="2008-2187">[
    {
        &quot;customer_id&quot;: 1,
        &quot;customer_name&quot;: &quot;Jmeno&quot;,
        &quot;customer_surname&quot;: &quot;Prijmeni&quot;,
        &quot;customer_email&quot;: &quot;a@b.cz&quot;
    }
]
</code></pre>
<h2 id="delete-apicustomerdelete_customeremail" md-pos="2191-2237"><a href="#delete-apicustomerdelete_customeremail" name="delete-apicustomerdelete_customeremail">[DELETE] /api/customer/delete_customer/[email]</a></h2>
<p md-pos="2239-2317">Tento endpoint slouží ke smazání uživatele z databáze se specifickým emailem.</p>
<p md-pos="2318-2359">Validni json odpověď je prázdná odpověď.</p>
<p md-pos="2360-2397"><strong md-pos="2362-2379">HTTP status code:</strong> 204 NO CONTENT</p>
<h2 id="post-apicaradd_car" md-pos="2401-2424"><a href="#post-apicaradd_car" name="post-apicaradd_car">[POST] /api/car/add_car</a></h2>
<p md-pos="2426-2490">Tento endpoint slouží k přidávání aut do databáze autopůjčovny.</p>
<table md-pos="2491-2631">
  <thead>
    <tr md-pos="2491-2517" class="thead-first-child"><th md-pos="2491-2496">klíč </th><th md-pos="2497-2510"> datový typ  </th><th md-pos="2511-2517"> popis</th></tr>
  </thead>
  <tbody>
    <tr md-pos="2534-2583" class="tbody-first-child"><td md-pos="2534-2544">car_name  </td><td md-pos="2545-2554"> string  </td><td md-pos="2555-2583"> Jméno automobilu např. Audi</td></tr>
    <tr md-pos="2584-2630" class="tbody-even-child"><td md-pos="2584-2594">car_type  </td><td md-pos="2595-2604"> string  </td><td md-pos="2605-2630"> Typ automobilu např. RS6</td></tr>
  </tbody>
</table>
<p md-pos="2632-2656">Validní json požadavek:</p>
<pre md-pos="2661-2712"><code md-pos="2661-2712">{
    &quot;car_type&quot;:&quot;Audi&quot;,
    &quot;car_name&quot;:&quot;RS6&quot;
}
</code></pre>
<p md-pos="2713-2735">Validní json odpověď:</p>
<p md-pos="2736-2770"><strong md-pos="2738-2755">HTTP status code:</strong> 201 CREATED</p>
<pre md-pos="2775-2862"><code md-pos="2775-2862">{
    &quot;message: &quot;Car has been inserted to the database.&quot;,
    &quot;car_id&quot;: &quot;3&quot;
}
</code></pre>
<p md-pos="2863-2887">Nevalidní json odpověď:</p>
<p md-pos="2888-2923"><strong md-pos="2890-2907">HTTP status code:</strong> 409 CONFLICT</p>
<pre md-pos="2928-2983"><code md-pos="2928-2983">{
    &quot;message&quot;:  &quot;Unknown technical ERROR.&quot;
}
</code></pre>
<h2 id="get-apicarselect_car" md-pos="2987-3012"><a href="#get-apicarselect_car" name="get-apicarselect_car">[GET] /api/car/select_car</a></h2>
<p md-pos="3014-3064">Tento endpoint vrací seznam všech aut v databázi.</p>
<p md-pos="3065-3087">Validní json odpověď:</p>
<p md-pos="3088-3117"><strong md-pos="3090-3107">HTTP status code:</strong> 200 OK</p>
<pre md-pos="3122-3453"><code md-pos="3122-3453">[
    {
        &quot;car_id&quot;: 1,
        &quot;car_name&quot;: &quot;AUDI&quot;,
        &quot;car_type&quot;: &quot;RS3&quot;
    },
    {
        &quot;car_id&quot;: 2,
        &quot;car_name&quot;: &quot;AUDI&quot;,
        &quot;car_type&quot;: &quot;RS4&quot;
    },
    {
        &quot;car_id&quot;: 3,
        &quot;car_name&quot;: &quot;AUDI&quot;,
        &quot;car_type&quot;: &quot;RS6&quot;
    }
]
</code></pre>
<h2 id="delete-apicardelete_caridcar_id" md-pos="3458-3499"><a href="#delete-apicardelete_caridcar_id" name="delete-apicardelete_caridcar_id">[DELETE] /api/car/delete_car/id/[car_id]/</a></h2>
<p md-pos="3501-3578">Tento endpoind smaže vytvořené auto v databazí a kaskádně všechny reference.</p>
<p md-pos="3579-3620">Validni json odpověď je prázdná odpověď.</p>
<p md-pos="3621-3658"><strong md-pos="3623-3640">HTTP status code:</strong> 204 NO CONTENT</p>
<h2 id="post-apicarbook_carcar_idrenterrenter_id" md-pos="3663-3715"><a href="#post-apicarbook_carcar_idrenterrenter_id" name="post-apicarbook_carcar_idrenterrenter_id">[POST] /api/car/book_car/[car_id]/renter/[renter_id]</a></h2>
<p md-pos="3717-3799">Tento endpoint vytvoří registraci auta patřičnému pronajimateli v zadaných dnech.</p>
<p md-pos="3800-3824">Validní json požadavek:</p>
<p md-pos="3825-3967">Požadavek níže vytvoří registraci auto s car_id 1 pronajimateli s customer_id 1 na dobu od 27.3.2019 - 28.3.2019
/api/car/book_car/1/renter/1</p>
<pre md-pos="3969-4037"><code md-pos="3969-4037">{
	&quot;rented_from&quot;:&quot;2019-03-27&quot;,
    &quot;rented_to&quot;:&quot;2019-03-28&quot;
}
</code></pre>
<p md-pos="4038-4060">Validní json odpověď:</p>
<p md-pos="4061-4095"><strong md-pos="4063-4080">HTTP status code:</strong> 201 CREATED</p>
<pre md-pos="4100-4197"><code md-pos="4100-4197">{
    &quot;message&quot;: &quot;Booking has been inserted to the database.&quot;,
    &quot;booking_id&quot;:  &quot;3&quot;
}
</code></pre>
<p md-pos="4199-4223">Nevalidní json odpověď:</p>
<p md-pos="4224-4259"><strong md-pos="4226-4243">HTTP status code:</strong> 409 CONFLICT</p>
<p md-pos="4260-4358">Tato odpověď je vrácena serverem v případě, že je zadán chybně formát data rented_from YYYY-MM-DD</p>
<pre md-pos="4363-4434"><code md-pos="4363-4434">{
    &quot;message&quot;:  &quot;rented_from is not valid date YYYY-MM-DD&quot;
}
</code></pre>
<p md-pos="4436-4460">Nevalidní json odpověď:</p>
<p md-pos="4461-4496"><strong md-pos="4463-4480">HTTP status code:</strong> 409 CONFLICT</p>
<p md-pos="4497-4593">Tato odpověď je vrácena serverem v případě, že je zadán chybně formát data rented_to YYYY-MM-DD</p>
<pre md-pos="4598-4667"><code md-pos="4598-4667">{
    &quot;message&quot;:  &quot;rented_to is not valid date YYYY-MM-DD&quot;
}
</code></pre>
<p md-pos="4669-4693">Nevalidní json odpověď:</p>
<p md-pos="4694-4729"><strong md-pos="4696-4713">HTTP status code:</strong> 409 CONFLICT</p>
<p md-pos="4730-4865">Tato odpověď je vrácena serverem v případě, že je auto v zadaném časovém intervalu již rezervováno stejným anebo jiným pronajimatelem.</p>
<pre md-pos="4870-4972"><code md-pos="4870-4972">{
    &quot;message&quot;: &quot;Car &lt;1:AUDI:RS3&gt; is already booked in such range &lt;2019-03-27:2019-03-28&gt;&quot;
}
</code></pre>
<p md-pos="4973-4997">Nevalidní json odpověď:</p>
<p md-pos="4998-5033"><strong md-pos="5000-5017">HTTP status code:</strong> 409 CONFLICT</p>
<p md-pos="5034-5122">Tato odpověď je vrácena serverem v případě, že uživatel (jeho ID) v databázi neexistuje</p>
<pre md-pos="5127-5202"><code md-pos="5127-5202">{
    &quot;message&quot;:  &quot;Customer id: 1 doesnt exist in the database.&quot;
}
</code></pre>
<p md-pos="5203-5227">Nevalidní json odpověď:</p>
<p md-pos="5228-5263"><strong md-pos="5230-5247">HTTP status code:</strong> 409 CONFLICT</p>
<p md-pos="5264-5348">Tato odpověď je vrácena serverem v případě, že auto (jeho ID) v databázi neexistuje</p>
<pre md-pos="5353-5423"><code md-pos="5353-5423">{
    &quot;message&quot;:  &quot;Car id: 1 doesnt exist in the database.&quot;
}
</code></pre>
<p md-pos="5424-5448">Nevalidní json odpověď:</p>
<p md-pos="5449-5484"><strong md-pos="5451-5468">HTTP status code:</strong> 409 CONFLICT</p>
<pre md-pos="5489-5544"><code md-pos="5489-5544">{
    &quot;message&quot;:  &quot;Unknown technical ERROR.&quot;
}
</code></pre>
<h2 id="get-apibookingselect_bookingbooking_id" md-pos="5549-5595"><a href="#get-apibookingselect_bookingbooking_id" name="get-apibookingselect_bookingbooking_id">[GET] /api/booking/select_booking/[booking_id]</a></h2>
<p md-pos="5597-5654">Tento endpoint vrací seznam všech registraci v databázi.</p>
<p md-pos="5655-5677">Validní json odpověď:</p>
<p md-pos="5678-5707"><strong md-pos="5680-5697">HTTP status code:</strong> 200 OK</p>
<pre md-pos="5712-6095"><code md-pos="5712-6095">[
    {
        &quot;booking_id&quot;: 4,
        &quot;customer_id&quot;: &quot;1&quot;,
        &quot;car_id&quot;: &quot;2&quot;,
        &quot;rented_from&quot;: &quot;2019-04-27&quot;,
        &quot;rented_to&quot;: &quot;2019-04-28&quot;
    },
    {
        &quot;booking_id&quot;: 5,
        &quot;customer_id&quot;: &quot;1&quot;,
        &quot;car_id&quot;: &quot;2&quot;,
        &quot;rented_from&quot;: &quot;2019-05-27&quot;,
        &quot;rented_to&quot;: &quot;2019-05-28&quot;
    }
]
</code></pre>
<h2 id="delete-apicardelete_bookingbooking_id" md-pos="6100-6145"><a href="#delete-apicardelete_bookingbooking_id" name="delete-apicardelete_bookingbooking_id">[DELETE] /api/car/delete_booking/[booking_id]</a></h2>
<p md-pos="6146-6229">Tento endpoint slouží ke smazání rezervace z databáze se specifickým id rezervace.</p>
<p md-pos="6230-6270">Validni json odpověď je prázná odpověď.</p>
<p md-pos="6271-6308"><strong md-pos="6273-6290">HTTP status code:</strong> 204 NO CONTENT</p>
<h2 id="delete-apicardelete_bookingcar_id" md-pos="6312-6353"><a href="#delete-apicardelete_bookingcar_id" name="delete-apicardelete_bookingcar_id">[DELETE] /api/car/delete_booking/[car_id]</a></h2>
<p md-pos="6354-6432">Tento endpoint slouží ke smazání rezervace z databáze se specifickým id auta.</p>
<p md-pos="6433-6473">Validni json odpověď je prázná odpověď.</p>
<p md-pos="6474-6511"><strong md-pos="6476-6493">HTTP status code:</strong> 204 NO CONTENT</p>
</div>
</body>
</html>
